.line-top {
  position: relative;
  box-sizing: border-box;
}
.line-top::after {
  content: " ";
  display: block;
  position: absolute;
  height: 1px;
  background: black;
  width: 200px;
  left: 0;
  top: 0px;
}